<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ed9eee4c94.js" crossorigin="anonymous"></script>
    <title>Mercado Liebre</title>

    <link href="/css/style.css" type="text/css" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="container-header">
            <div class="logo">
                <img src="/img/logo-mercado-liebre.svg" alt="logo mercado liebre">
            </div>
            <div class="search">
                <input type="text" placeholder="Buscar productos">
                <i class="fa-solid fa-magnifying-glass" id="Search"></i>
            </div>
            <div class="botsearch">
                <p><i class="fas fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="/views/home.html">Ofertas</a>
                </li>
                <li>
                    <a href="#">Tiendas Oficiales</a>
                </li>
                <li>
                    <a href="#">Vender</a>
                </li>
                <li>
                    <a href="#">Ayuda</a>
                </li>
                <li>
                    <a href="/register">Crear mi Cuenta <i class="fas fa-address-card"></i></a>
                </li>
                <li>
                    <a href="/login">Ingresá <i class="fa-solid fa-arrow-right-to-bracket"></i></a>
                </li>
                <li>
                    <a href="/shop">Mis compras <i class="fas fa-basket-shopping"></i></a>
                </li>
            </ul>
        </nav>

    </header>
    <main>
        <section>
            <h2 class="titulares">Basado en tu ultima visita</h2>
            <ul class="product-container">
                <li class="product"">
                    <img src=" /img/img-cafetera-moulinex.jpg" width="100%" height="250" alt="img cafetera">
                    <i class="fa-solid fa-truck" style="color: #49c407;"></i>
                    <div class="pyd">
                        <p class="precios">$6.770</p>
                        <p class="descuentos">40% OFF</p>
                    </div>
                    <h3 class="descripcion">Cafetera Moulinex</h3>
                </li>
                <li class="product">
                    <img src="/img/img-macbook-pro-2019.jpg" width="100%" height="250" alt="img MacBook">
                    <i class="fa-solid fa-truck" style="color: #49c407;"></i>
                    <div class="pyd">
                        <p class="precios">$230.000</p>
                        <p class="descuentos">20% OFF</p>
                    </div>
                    <h3 class="descripcion">MacBook Pro 2019</h3>
                </li>
                <li class="product">
                    <img src="/img/img-samsung-galaxy-s10.jpg" width="100%" height="250" alt="img samsung s10">
                    <i class="fa-solid fa-truck" style="color: #49c407;"></i>
                    <div class="pyd">
                        <p class="precios">$70.500</p>
                        <p class="descuentos">10% OFF</p>
                    </div>
                    <h3 class="descripcion">Samsung Galaxy S10</h3>
                </li>
                <li class="product">
                    <img src="/img/img-tv-samsung-smart.jpg" width="100%" height="250" alt="img smarttv">
                    <i class="fa-solid fa-truck" style="color: #49c407;"></i>
                    <div class="pyd">
                        <p class="precios">$23.200</p>
                        <p class="descuentos">5% OFF</p>
                    </div>
                    <h3 class="descripcion">SmartTv Samsung 43"</h3>
                </li>
            </ul>
        </section>
        <img class="img-medio" src="/img/img-home-banner.jpg" width="100%" height="100" alt="Seccion ofertas">
        <section>
            <h2 class="titulares">Seccion Ofertas</h2>
            <ul class="product-container">
                <li class="product">
                    <img src="/img/img-cafetera-moulinex.jpg" width="100%" height="250" alt="img cafetera">
                    <i class="fa-solid fa-truck" style="color: #49c407;"></i>
                    <div class="pyd">
                        <p class="precios">$6.770</p>
                        <p class="descuentos">40% OFF</p>
                    </div>
                    <h3 class="descripcion">Cafetera Moulinex</h3>
                </li>
                <li class="product">
                    <img src="/img/img-macbook-pro-2019.jpg" width="100%" height="250" alt="img MacBook">
                    <i class="fa-solid fa-truck" style="color: #49c407;"></i>
                    <div class="pyd">
                        <p class="precios">$230.000</p>
                        <p class="descuentos">20% OFF</p>
                    </div>
                    <h3 class="descripcion">MacBook Pro 2019</h3>
                </li>
                <li class="product">
                    <img src="/img/img-samsung-galaxy-s10.jpg" width="100%" height="250" alt="img samsung s10">
                    <i class="fa-solid fa-truck" style="color: #49c407;"></i>
                    <div class="pyd">
                        <p class="precios">$70.500</p>
                        <p class="descuentos">10% OFF</p>
                    </div>
                    <h3 class="descripcion">Samsung Galaxy S10</h3>
                </li>
                <li class="product">
                    <img src="/img/img-tv-samsung-smart.jpg" width="100%" height="250" alt="img smarttv">
                    <i class="fa-solid fa-truck" style="color: #49c407;"></i>
                    <div class="pyd">
                        <p class="precios">$23.200</p>
                        <p class="descuentos">5% OFF</p>
                    </div>
                    <h3 class="descripcion">SmartTv Samsung 43"</h3>
                </li>
            </ul>
        </section>
    </main>
    <footer>
        <section>
            <i class="fa-solid fa-credit-card" class="icon-footer" style="color: rgb(2, 2, 124)"></i>
            <p>Pagá con tarjeta o en efectivo</p>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
                seguro!</p>
        </section>
        <section>
            <i class="fa-solid fa-gift" class="icon-footer" style="color: rgb(2, 2, 124)"></i>
            <p>Envío gratis desde $ 2.500</p>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
                Mercado Puntos.</p>
        </section>
        <section>
            <i class="fa-solid fa-user-shield" class="icon-footer" style="color: rgb(2, 2, 124)"></i>
            <p>Seguridad, de principio a fin</p>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                protegid@.</p>
        </section>
        <section>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>

</html>